<app-navbar></app-navbar>

<div class="container">
    <h1 appDirective1>Basic Pipe</h1>
    <hr>

    <ol>
        <li *ngFor="let item of messages; let i = index">
            {{ i + 1 }}. {{ item | pipe1 }}
        </li>
    </ol>

    <div class="">Date item : {{dataItem | date : "fullDate" : "uppercase" }}</div>
    <div>Number item : {{numberItem | number : "1.2-2" }}</div>
    <hr>

    <div class="form-group" *ngIf="isShowWorkshop == false">
        <button type="button" class="btn btn-primary" (click)="isShowWorkshop = true">
            Show WorkShop
        </button>
    </div>

    <div class="row" *ngIf="isShowWorkshop">
        <div class="col-sm">
            <app-com1 [messages]="messages">Component 1</app-com1>

        </div>
        <div class="col-sm">
            <app-com2 (onClose)="isShowWorkshop= $event" (onMessage)="onMessage($event)">Component 2</app-com2>
        </div>
    </div>

</div>