<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <nav class="flex justify-between py-10 items-center bg-white">
        <div class="flex items-center">
            <div [routerLink]="['']" class="me-5 text-center">
                <img src="assets/logo.png" class="w-full h-full" alt="">
            </div>
            <h1 class="text-xl text-gray-800 font-bold">Inventory</h1>
            <ul class="flex items-center space-x-6 ms-4">
                <li class="font-semibold text-gray-700" [routerLink]="['','dashboard']">Dashboard</li>
                <li class="font-semibold text-gray-700" [routerLink]="['','product']">Product</li>
            </ul>
        </div>
        <div class="flex items-center">
            <ul class="flex items-center space-x-6">
                <button class="p-3 md:p-5 bg-gray-300 rounded-4xl me-0"> </button>
                <div class="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </ul>
        </div>
    </nav>
</div>