<app-navbar></app-navbar>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>



  <div class="my-5">x</div>

  <div class="border-1 my-5" [contentEditable]="isEditable"></div>

  <button (click)="greet()" class="bg-amber-500 p-2 my-5">button</button>

  <section class="my-5" (mouseover)="onMouseOver()">
    There's a secret message for you, hover to reveal 👀
    {{ message }}
  </section>

  <div class="flex my-5">
    @for (user of users; track user.id) {
    <p class="mx-2"> {{ user.name }} </p> ||
    }
  </div>

  <app-user occupation="Angular Developer"></app-user>

  <div class="my-5">
    <span>มา 4 จ่าย 3 </span>
    <div>
      <input type="text" #priBuffetInput placeholder="price" class="border-1">
      <button class="border-neutral-50 bg-amber-200 border-1"
        (click)="calBuffet(priBuffetInput.value)">calculate</button>
    </div>
    <span>{{value | currency : 'THB' : 'code' }} : result</span>
  </div>

  <app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
  <app-action-bar (numberChange)="testNumberChange($event)" [step]="20"></app-action-bar>
  <button type="button" class="btn" (click)="testclick()">testEventBinding</button>


</div>

 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>